
{% for job in job_filter %}
    <div class="col-md-12 ftco-animate">

    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

      <div class="mb-4 mb-md-0 mr-5">
        <div class="job-post-item-header d-flex align-items-center">
          <h2 class="mr-3 text-black h3">{{ job.job_title }}</h2>
          <div class="badge-wrap">
           <span class="bg-primary text-white badge py-2 px-3">{{ job.job_type }}</span>
          </div>
        </div>
        <div class="job-post-item-body d-block d-md-flex">
          <div class="mr-3"><span class="icon-layers"></span> <a href="#">{{ job.company }}</a></div>
          <div><span class="icon-my_location"></span> <span>{{ job.Location }}</span></div>
        </div>
      </div>

      <div class="ml-auto d-flex">
        {% if user.is_authenticated and user.is_candidate %}
          <a href="{% url 'comapnyjobs' %}" class="btn btn-primary py-2 mr-1">Apply Job</a>
        {% else %}
          <a href="{% url 'register' %}" class="btn btn-primary py-2 mr-1">Apply Job</a>
        {% endif %}
        <a href="#" class="btn btn-secondary rounded-circle btn-favorite d-flex align-items-center icon">
          <span class="icon-heart"></span>
        </a>
      </div>
    </div>
  </div><!-- end -->

{% endfor %}
